:root {
    --mainColor: #29335c;
    --mainColorLight: #5767aa;
    --secondaryColor: #db2b39;
    --textColor: #eee;
}


.aboutMe_background {
    background-size: 100%;
    margin: 4rem 0;
}

.aboutMe_container_glasess {
    width: 100%;
    background: rgba(41, 51, 92, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    border: 1px solid rgba(41, 51, 92, 0.3);
}

.aboutMe {
    margin: 0 auto;
    width: 90%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.aboutMe_title {
    font-weight: bold;
    color: var(--textColor);
    text-align: center;
    font-size: 3rem;
    margin-bottom: 7rem;
}

.aboutMe_title_flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.aboutMe_title_flex_paragraph {
    color: var(--textColor);
    width: 30rem;
    text-align: justify;
    font-size: 1.5rem;
}

.aboutMe_title_flex_image {
    width: 20rem;
    border-radius: 50%;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {}

@media screen and (max-width: 991px) and (min-width: 768px) {}

@media screen and (max-width: 767px) and (min-width: 576px) {}

@media screen and (max-width: 575px) and (min-width: 320px) {

    .aboutMe_title {
        margin-bottom: 4rem;
    }

    .aboutMe_title_flex_paragraph {
        font-size: 1rem;
    }
}