:root {
    --mainColor: #29335c;
    --mainColorLight: #5767aa;
    --secondaryColor: #db2b39;
    --textColor: #eee;
}


.div_button {
    margin-top: 3rem;
}

.button_header {
    color: white;
    --p: 2em;
    --c: #db2b39;
    /* the color*/
    text-decoration: none;
    box-shadow: 0 0 0 .1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
        var(--_g) calc(var(--_p, 0%) - 100%) 0%,
        var(--_g) calc(200% - var(--_p, 0%)) 0%,
        var(--_g) calc(var(--_p, 0%) - 100%) 100%,
        var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
}

.button_header:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
    color: white
}

.button_header:active {
    box-shadow: 0 0 9e9q inset #0009;
    background-color: var(--c);
    color: #fff;
}

.button_header {
    font-family: system-ui, sans-serif;
    font-size: 3.5rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;
    border: none;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {}

@media screen and (max-width: 991px) and (min-width: 768px) {}

@media screen and (max-width: 767px) and (min-width: 576px) {

    .div_button {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .button_header {
        width: 100%;
        font-size: 3rem;
        cursor: pointer;
        padding: .1em .6em;
        font-weight: bold;
        border: none;
    }
}

@media screen and (max-width: 575px) and (min-width: 320px) {

    .div_button {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .button_header {
        width: 100%;
        font-size: 2rem;
        cursor: pointer;
        padding: .1em .6em;
        font-weight: bold;
        border: none;
    }
}